.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 6rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-nav {
    display: flex;
    gap: 6rem;
}


.navbar-brand {
    margin-right: 6rem;
  }
.nav-item {
    list-style: none;
    font-size: large;
    border-radius: 10px;
}

.nav-item:hover{
    background-color: grey;
}

.nav-link{
    color: white;
    font-weight: bold;
}

link{
    gap: 5rem;
}